[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymupdf = "*"
pdf2image = "*"
langchain = "*"
langchain-google-vertexai = "*"
configparser = "*"
streamlit = "*"
streamlit-js-eval = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.9"
